<div class="container">
    <nav class="navbar navbar-dark navbar-expand-lg bg-primary mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SISTEMA WEB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/consultar">Consultar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <p class="fs-5">Cadastrar - Agendamento de Potencial Clientes</p>
    <p class="fs-6">Sistema Utilizado para agendamento de serviços.</p>
    <div class="table-responsive">
        <table class="table">
            <thead class="table-primary">
                <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Origem</th>
                    <th scope="col">Data de Contato</th>
                    <th scope="col">Observações</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each agendamentos}}
                    {{#dataValues}}
                    <tr>
                        <td>{{this.nome}}</td>
                        <td>{{this.telefone}}</td>
                        <td>{{this.origem}}</td>
                        <td>{{this.data_contato}}</td>
                        <td>{{this.observacoes}}</td>
                        <td>
                            <a href="/atualizar/{{this.id}}" class="btn btn-warning">Editar</a>
                            <a href="/deletar/{{this.id}}" class="btn btn-danger">Excluir</a>
                        </td>
                    </tr>
                    {{/dataValues}}
                {{/each}}
            </tbody>
        </table>
    </div>
</div>